.picture {
    background-color: #fff;
    padding-bottom: 15px;
    margin: 20px 120px 20px 120px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 1px rgba(43, 43, 43, 0.5);
    -webkit-box-shadow: 0px 3px 6px 1px rgba(43, 43, 43, 0.5);
    -moz-box-shadow: 0px 3px 6px 1px rgba(43, 43, 43, 0.5);
}
.picture-Title {
    flex: 1;
    padding: 15px 0 0 25px;
    display: flex;
}
.list-item{
    flex: 1;
}
.scroll{
    overflow-y: scroll;
    height: 360px;
}
.picture-item{
    flex: 1;
    height: 310px;
    width: 310px;
    margin: 10px;
    border-radius: 5px;
}
.picture-name{
    margin: 10px 0 -5px 20px ;
}
.picture-h2-title{
    flex: 3;
}
.picture-combo-btn{
    flex: 1; 
}

/* Media */
@media only screen and (max-width: 414px) {
    .picture{
        margin: 20px;
    }
}
@media only screen and (max-width: 912px) and (min-width: 415px) {
    .picture{
        margin: 40px;
    }
    .picture-item{
        width: 240px;
        height: 240px;
    }
}