.contact{
    min-height: 270px;
    background-color: #fff;
    margin: -50px 110px 20px 110px;
    border-radius: 5px;
}
.Contact-Title{
    flex: 1;
    padding: 20px;
}
.Contact-Item{
    flex: 1;
    padding: 20px;
}