.bill-payment{
    min-height: 400px;
    padding: 10px;
    margin: 20px 120px 20px 120px;
    border-radius: 5px;
    box-shadow: 0px 3px 6px 1px rgba(43, 43, 43, 0.5);
    -webkit-box-shadow: 0px 3px 6px 1px rgba(43, 43, 43, 0.5);
    -moz-box-shadow: 0px 3px 6px 1px rgba(43, 43, 43, 0.5);
}
.table-item{
    margin: 10px;
    border-radius: 5px;
}
.payment-item-image{
    height: 250px;
    width: 250px;
    border-radius: 5px;
}
.bill-add-btn{
    height: 50px;
    width: 50px;
    border-radius: 25px;
    margin: 20px 0 0 40px;
}
.bill-add-icon{
    font-size: 36px;
}
.bill-close-btn{
    height: 35px;
    width: 35px;
    border-radius: 25px;
    margin-top: 10px;
}
.bill-close-icon{
    font-size: 26px;
}